<h1>Listing directories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Created_at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @directories.each do |directory| %>
  <tr>
    <td><%= directory.name %></td>
    <td><%= directory.description %></td>
    <td><%= directory.content.created_at %></td>
    <td><%= link_to 'Show', directory %></td>
    <% if current_user and directory.content.user == current_user %>
    	<td><%= link_to 'Edit', edit_directory_path(directory) %></td>
    	<td><%= link_to 'Destroy', directory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
	<%= link_to 'New Directory', new_directory_path %>
<% end %>
