<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @directory.name %>
</p>

<p>
  <b>Created at:</b>
  <%= @directory.content.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @directory.content.updated_at %>
</p>

<p>
  <b>Description:</b>
  <%= @directory.description %>
</p>

<% if user_signed_in? and @directory.content.user == current_user %>
	<%= link_to 'Edit Directory Info', edit_directory_path(@directory) %> | <%= link_to 'New Entry', new_entry_path %>
<% end %>	 

<%= render "entries/data" %>

<%= link_to 'Back', directories_path %>
