<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @directory.name %>
</p>

<p>
  <b>Created at:</b>
  <%= @directory.content.created_at %>
</p>

<p>
  <b>Description:</b>
  <%= @directory.description %>
</p>


<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>
