<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @like.content %>
</p>

<p>
  <b>User:</b>
  <%= @like.user %>
</p>


<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
